<template>
  <div>homeE22</div>
</template>
<script>
export default {
  name: 'Home',
  components: {},
  data: () => ({}),
  computed: {},
  beforeCreate() {},
  created() {},
  beforeMount() {},
  mounted() {},
  beforeUpdate() {},
  updated() {},
  activated() {}, // when keep-alive
  deactivated() {}, // when keep-alive
  beforeDestroy() {},
  destroyed() {},
  methods: {
    // getDatList(){
    //   HomeApi.getDatList()
    // }
  }
}
</script>
